.main {
    flex-wrap: wrap;
    width: 100%;
    justify-content: between;
    /* margin-left: 2.5vw; */
}


.cluster {
    background-color: var(--bleu-moche);
    margin: 0.2vw;
    /* width: 44.5vw;  */
    width: 45%;
    height: 12vw;
    flex-wrap: wrap;
    padding: 0.2vw 0.3vw 0.2vw 0.3vw;
    justify-content: space-between;
    border-radius: 10px;
    margin: 0 2vw 0.5vw 2vw;
}

#gpu8 {
    width: 90.7%;
    /* flex-wrap: nowrap; */
    justify-self: flex-start;
}

.specs {
    /* height:1.5vw; */
    width: 100%;
    margin-bottom: 0.2vw;
    padding-left: 0.5vw;
}

.cluster-name {
    margin:0;
    font-size: 1vw;
    font-weight: bold;
    /* color: var(--orange-moche); */
}

.gpu {
    background-color: var(--primary);
    width: 21vw;
    height: 78%;
    padding: 0.25vw 0.5vw 0.25vw 0.5vw;
    border-radius: 10px;
}

.info-gpu {
    height:2vw;
    width: 100%;
}

.info-gpu p {
    font-size: 0.9vw;
    font-weight: bold;
}

.job {
    width: 100%;
    height: 7.5vw;
    flex-wrap: wrap;
}

.job-info {
    width: 100%;
    /* justify-content: space-between; */
}

.job-id {
    margin-right: 1vw;
}

.job-owner {
    margin-right: 1vw;
}

.booleans {
    width: 100%;
    /* justify-content: space-between; */
}

.besteffort {
    margin-right: 1vw;
}

.times {
    flex-wrap: wrap;
}

.two-times {
    width: 100%;
    /* justify-content: space-between; */
}

.submit-time {
    margin-right: 1vw;
}

.wall-time {
    margin-right: 1vw;
}

.free {
    color: #04EF1B;
    margin: auto;
}

.free p {
    font-size: 2vw;
}

#invisible-cluster {
    background-color: var(--primary);
}

#last-cluster {
    width: 0.2vw;
    margin: 0;
    background-color: var(--primary);
}
