#waiting-list {
    background-color: var(--bleu-moche);
    margin: 2vw 2vw 0.5vw 2vw;
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
    border-radius: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

#waiting-list-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    margin-left: 0.5vw;
}

#waiting-list-table {
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
    border-radius: 10px;
    /* background-color: red; */
}

.waiting-list-header {
    float: left;
    clear: both;
    font-weight: bold;
    /* color: var(--orange-moche); */
    background-color: var(--primary);
}

.waiting-list-row {
    padding: 0.2vw 1vw 0.2vw 1vw;
    float: left;
    clear: both;
    border-radius: 10px;
    margin-top: 0.2vw;
}

.waiting-row-element {
    float: left;
    width: 6vw;
}

.waiting-job-id {
}

.waiting-job-owner {
}

.waiting-job-submission-time {
    width: 8vw;
}

.waiting-job-walltime {
}

.waiting-job-besteffort {
}

.waiting-job-gpu {
}
